
.count-box {
  background:url('./assets/vector1.png'), linear-gradient(to right, #632EE3, #9F62F2) ;
  background-repeat: no-repeat;
  background-size: contain;  
  background-position: left;
}
.count-box2 {
  background:url('./assets/vector1.png'), linear-gradient(to right, #54CF68, #00827A) ;
  background-repeat:no-repeat;
  background-size: contain;  
  background-position: left;
} 

